@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Anonymous Pro';
    src: url('../../public/fonts/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('../../public/fonts/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../../public/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
}


h1,
h2,
h3,
h4 {
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
}