---
import { ShowNav } from "./ShowNav.jsx";
---

<header class="flex items-center h-28 bg-[#EEEEEE]">
	<h1 class="grow flex justify-center text-4xl text-[#4A306D]">Portafolio</h1>
	<ShowNav client:load />
</header>
