---
import FrontEnd from "../components/Habilidades/Front-end.astro";
import OtherSkills from "../components/Habilidades/OtherSkills.astro";
import UIUX from "../components/Habilidades/UI-UX.astro";
---

<section class="h-[50dvh] lg:h-[30dvh] bg-[#0E273C] w-full px-10 pt-4">
    <!-- Introduction -->
    <div>
        <h2 class="text-center text-4xl font-bold md:text-5xl text-[#FFFFFF]">
            Habilidades
        </h2>
        <hr
            class="w-1/2 md:w-1/4 mx-auto my-4 border-t-2 border-[#A167A5] md:mb-10"
        />
    </div>

    <!-- Skills -->
    <div class="flex flex-col gap-4 md:flex-row md:flex-wrap">
        <FrontEnd />
        <UIUX />
        <OtherSkills />
    </div>
</section>
