---
import Develop from "../../public/images/icons/Skills/Develop.astro";
---

<section class="h-dvh bg-[#0E273C] w-full px-10 pt-4">
    <!-- Introduction -->
    <div>
        <h2 class="text-center text-4xl font-bold md:text-5xl">Habilidades</h2>
        <hr
            class="w-1/2 md:w-1/4 mx-auto my-4 border-t-2 border-[#A167A5] md:mb-10"
        />
    </div>

    <!-- Skills -->
    <div class="flex flex-col gap-4">
        <div
            class="bg-[#A167A5] h-32 flex flex-col justify-center px-5 rounded-2xl"
        >
            <!-- Title -->
            <div class="grow flex items-center">
                <Develop />
                <h2>Frontend Development</h2>
            </div>
            <!-- Box for language -->
            <div class="grow flex items-center gap-2">
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>HTML5</p>
                </div>
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>CSS</p>
                </div>
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>Tailwind</p>
                </div>
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>JavaScript</p>
                </div>
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>React</p>
                </div>
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>Astro</p>
                </div>
            </div>
        </div>

        <div
            class="bg-[#A167A5] h-32 flex flex-col justify-center px-5 rounded-2xl"
        >
            <!-- Title -->
            <div class="grow flex items-center">
                <h2>UI/UX design</h2>
            </div>
            <!-- Box for language -->
            <div class="grow flex items-center gap-2">
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>Figma</p>
                </div>
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>Responsive design</p>
                </div>
            </div>
        </div>

        <div
            class="bg-[#A167A5] h-32 flex flex-col justify-center px-5 rounded-2xl"
        >
            <!-- Title -->
            <div class="grow flex items-center">
                <h2>Otras habilidades</h2>
            </div>
            <!-- Box for language -->
            <div class="grow flex items-center gap-2">
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>Git</p>
                </div>
                <div class="bg-[#D3BCCC] p-2 rounded-xl">
                    <p>GitHub</p>
                </div>
            </div>
        </div>
    </div>
</section>
