<section
    class="w-full h-[80dvh] bg-[#0E273C] px-10 pt-32  flex flex-col justify-start gap-4
    md:grid md:grid-cols-2"
>
    <div class="md:flex md:justify-center md:items-center flex justify-center">
        <img
            src="../../public/images/foto-prueba.webp"
            alt="Imagen de usuario"
            class="w-[200px] h-[200px] md:w-[400px] md:h-[400px] object-cover rounded-full border-4 md:col-start-2"
        />
    </div>

    <div class="flex justify-center flex-col md:col-start-1 md:row-start-1">
        <h2 class="font-roboto text-[#FFFFFF] text-5xl md:mb-1 md:text-7xl">
            Hola, <span class="text-[#A167A5]">soy Mario</span>
        </h2>

        <p class="font-anonymous text-[#FFFFFF] text-3xl mb-3 md:text-4xl">
            Web developer
        </p>

        <p class="font-roboto text-[#FFFFFF] text-2xl md:text-3xl">
            Me encanta crear sitios web funcionales con HTML, CSS y React.
            Disfruto convertir ideas en interfaces limpias, accesibles y
            atractivas.
        </p>

        <div
            class="flex gap-14 mt-10 font-bold justify-center md:justify-start"
        >
            <button
                class="bg-[#EEEEEE] md:hover:bg-[#777777] md:hover:text-[#FFFFFF] transition-all duration-300 ease-in-out rounded-full w-48 h-24 md:w-64 text-xl md:text-2xl"
            >
                Contacto
            </button>

            <button
                class="bg-[#A167A5] rounded-full w-48 h-24 md:w-64 text-xl md:text-2xl text-[#0E273C] md:hover:bg-[#604163] md:hover:text-[#FFFFFF] transition duration-300 esay-in-out"
            >
                Ver proyectos
            </button>
        </div>
    </div>
</section>
