<section class="w-full h-[90dvh] bg-[#0E273C]">
    <h2 class="font-roboto">
        Hola, <span>soy Mario</span>
    </h2>

    <p class="font-anonymous">Web developer</p>

    <p>
        Me encanta crear sitios web funcionales con HTML, CSS y React. Disfruto
        convertir ideas en interfaces limpias, accesibles y atractivas.
    </p>
</section>
