---
import Exp from "../../public/images/icons/sobre-mi/Exp.astro";
import Graduation from "../../public/images/icons/sobre-mi/Graduation.astro";
import Location from "../../public/images/icons/sobre-mi/Location.astro";
import Calendar from "../../public/images/icons/sobre-mi/Calendar.astro";
import Cards from "../components/Sobre-mi/Cards.astro";
---

<section
    class="sm:h-[70dvh] md:h-[60dvh] xl:h-[40dvh] w-full px-10 pt-4 bg-[#0E273C]/90 text-[#FFFFFF]"
>
    <div>
        <h2 class="text-center text-4xl font-bold md:text-5xl">Sobre mi</h2>
        <hr
            class="w-1/2 md:w-1/4 mx-auto my-4 border-t-2 border-[#A167A5] md:mb-10"
        />
    </div>

    <!-- DIV for desktop version... -->
    <div class="md:grid md:grid-cols-2 md:grid-rows-2 md:gap-32">
        <!-- Div for introducion -->
        <div class="">
            <h3 class="text-3xl md:text-4xl text-[#A167A5] font-bold mb-1">
                Mi historia
            </h3>
            <p class="text-xl md:text-2xl">
                Desde siempre me ha gustado el mundo de la informática. Me atrae
                cómo la tecnología puede transformar ideas en soluciones útiles
                y creativas para el día a día. Comencé a programar por
                iniciativa propia, motivado por mis ganas de progresar y no
                quedarme estancado. Investigar, probar y entender cómo funciona
                todo detrás de una pantalla se volvió algo natural para mí. Con
                el tiempo, descubrí que disfruto especialmente del desarrollo
                web. Me gusta ver cómo cada detalle visual y funcional cobra
                vida, y siempre busco formas de seguir aprendiendo y superándome
                con cada nuevo proyecto.
            </p>
        </div>

        <!-- Divs of exp, Education, location, calendar -->
        <Cards />
    </div>
</section>
